
.titulo-admin {
  color: #d4af37;
  font-weight: 600;
}

.table {
  background-color: transparent;
  color: #fff;
}

.table thead {
  background: #2b2b2b;
}

.progress {
  background-color: #2e2e2e;
  border-radius: 20px;
}

.progress-bar {
  background: linear-gradient(90deg, #d4af37, #b9972f);
  font-size: 12px;
  font-weight: 500;
}

.btn-uno {
  width: 25%;
}