/* You can add global styles to this file, and also import other style files */
:root {
  --color-1: #180000;
  --color-2: #fafafa;
  --color-3: #64ab90;
  --color-4: #024a2a;
  --color-5: #5bc60f;
  --color-6: #231acd;
  --color-7: #c700fe;
  --color-8: #0B3C5D;
  --color-9:#d4af37
}

body {
  background-image: url('/img/fondo.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  margin: 0;
  min-height: 100vh;

  /* 🔥 Fuente global */
  font-family: 'Poppins', sans-serif;
}

/* Asegura layout completo */
app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.btn-primary {
  background-color: var(--accent-primary);
  color: white;
  border-radius: 4px;
  padding: 10px 20px;
  font-family: 'Poppins', sans-serif;
}

.btn-primary:hover {
  background-color: var(--accent-secondary);
}
