<div class="login-container d-flex justify-content-center align-items-center">
  <div class="formulario-card shadow-lg">
    <h2 class="text-color-8">Iniciar Sesión</h2>
    <p>Ingresa tus credenciales para continuar</p>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <!-- EMAIL -->
      <div class="input-group-custom">
        <label for="email">Email</label>
        <input 
          type="email" 
          id="email" 
          formControlName="email" 
          class="form-control-campos" 
          placeholder="Ej: correo@ejemplo.com">

        @if (form.get('email')?.invalid && form.get('email')?.touched) {
          <small class="text-danger">
            Ingrese un email válido
          </small>
        }
      </div>

      <!-- PASSWORD -->
      <div class="input-group-custom">
        <label for="password">Contraseña</label>
        <input 
          type="password" 
          id="password" 
          formControlName="password" 
          class="form-control-campos" 
          placeholder="••••••••">

      </div>

      <!-- ERROR GENERAL -->
      @if (form.get('password')?.touched && form.get('password')?.errors) {
      <small class="text-danger">
      
        @if (form.get('password')?.errors?.['required']) {
        La contraseña es obligatoria.
        }
      
        @if (form.get('password')?.errors?.['minlength']) {
        Debe tener al menos 8 caracteres.
        }
      
        @if (form.get('password')?.errors?.['pattern']) {
        Debe incluir al menos un carácter especial.
        }
      
      </small>
      }


      <!-- BOTONES -->
      <div class="button-stack">

        <button 
          type="submit" 
          class="btn-uno" 
          [disabled]="form.invalid || loading">

          @if (!loading) {
            Ingresar
          } @else {
            Cargando...
          }

        </button>
        
        <button 
          type="reset" 
          class="btn-uno" 
          routerLink="/inicio">
          Volver al inicio
        </button>

      </div>
    </form>

    <div class="card-footer-custom">
      <span>¿No tienes cuenta?</span>
      <button class="btn-reg" routerLink="/registro-nuevo-usuario">
        Registrarse
      </button>
    </div>

  </div>
</div>
