.formulario-card {
  /* Cambiamos width fijo por un ancho elástico */
  width: 90%;           /* En celulares ocupa casi todo el ancho */
  max-width: 450px;     /* En PC no crece más de 450px (aprox el 35% que tenías) */
  margin: 20px auto;    /* Margen para que no pegue en los bordes */
  padding: 2rem;
  border-radius: 12px;
}

.text-color-8 {
  color: var(--color-9);
  font-weight: 700;
}

.input-group-custom {
  text-align: left;
  margin-bottom: 1.2rem;
}

.input-group-custom label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.4rem;
}


.button-stack {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 1.5rem;
}


.card-footer-custom {
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid #eee;
  font-size: 0.9rem;
  color: var(--color-2);
}

/* Botón Registrarse con el Dorado para resaltar */
.btn-reg {
  background: none;
  border: none;
  color: var(--color-9);
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
}
