.custom-nav {
  background-color: var(--color-8) !important;
  padding: 0.3rem 1.5rem;
  min-height: 60px;
}

.navbar,
.container-fluid {
  align-items: center;
}

/* Marca + logo */
.navbar-brand {
  display: flex;
  align-items: center;
  gap: 10px;

  color: var(--color-9) !important;
  font-weight: 800;
  letter-spacing: 2px;
  text-decoration: none !important;
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  line-height: 1;
}

/* Links */
.nav-link {
  color: var(--color-2) !important;
  margin: 0 10px;
  transition: color 0.3s ease;
  text-decoration: none !important;
  background: none !important;
}

/* Estados */
.nav-link:hover,
.nav-link:focus,
.nav-link:active,
.active-link {
  color: var(--color-2) !important;
  background: none !important;
  box-shadow: none !important;
  outline: none !important;
}

/* Menú a la derecha y centrado */
.navbar-collapse {
  display: flex !important;
}

.navbar-nav {
  margin-left: auto !important;
  align-items: center;
}

/* Logo */
.logo-nav {
  height: 68px;   /* ⬅️ mejor proporción */
  width: 68px;
  object-fit: cover;
  border-radius: 50%;
}
