<div class="layout">

  <app-nav-usuario></app-nav-usuario>

  <div class="content">
    <div class="container-perfil">

      <form class="formulario-card"  [formGroup]="form" (ngSubmit)="guardarCambios()">

        <h2>Editar Perfil</h2>

        <div class="foto-section">
          @if (previewFoto) {
            <img [src]="previewFoto" class="foto-preview">
          }

          <input type="file" (change)="onFileSelected($event)">
        </div>

        <div class="campo">
          <label>DNI</label>
          <input formControlName="dni" type="text">
        </div>

        <div class="campo">
          <label>Nombre</label>
          <input formControlName="nombre" type="text">
        </div>

        <div class="campo">
          <label>Apellido</label>
          <input formControlName="apellido" type="text">
        </div>

        <div class="campo">
          <label>Email</label>
          <input formControlName="email" type="email">
        </div>

        <div class="campo">
          <label>Teléfono</label>
          <input formControlName="telefono" type="text">
        </div>

        <div class="campo">
          <label>Contraseña</label>
          <input formControlName="password" type="password">
        </div>

        <div class="campo">
          <label>Confirmar contraseña</label>
          <input formControlName="confirmPassword" type="password">

          @if (form.errors?.['passwordMismatch'] && form.get('confirmPassword')?.touched) {
            <span class="error">
              Las contraseñas no coinciden
            </span>
          }
          
        </div>

        <button class="btn-uno" type="submit">
          Guardar cambios
        </button>

      </form>

    </div>
  </div>

  <app-footer></app-footer>

</div>